[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask-sqlalchemy = "*"
ed0a5ba = {path = "./..",editable = true}
flask-celery = "*"
flask-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
